<form action="/drive/folders/<%= currentDirId %>" method="post">
  <div class="folder-form form-data">
    <input
      type="text"
      name="folder"
      placeholder="New Folder"
      autocomplete="off"
    />
    <button class="btn">Create</button>
  </div>
</form>
