<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Folder</title>
    <link rel="stylesheet" href="/drive.css" />
  </head>
  <body>
    <% if (locals.folder) { %>
    <div class="form-container">
      <form
        action="/drive/folders/edit/<%= folder.id %>"
        method="post"
        class="item-form"
      >
        <label for="rename">Rename Folder</label>
        <input type="text" id="rename" name="name" value="<%= folder.name %>" />
        <button class="btn">Save</button>
      </form>
      <% if (locals.error ) { %>
      <div class="form-error"><%= error.msg %></div>
      <% } %>
    </div>
    <% } %>
  </body>
</html>
