<header>
  <h1 class="page-title"><%= title %></h1>
  <% if (locals.currentUser) { %>
  <div class="name"><%= currentUser.firstname %></div>
  <a href="/log-out" class="logout">Logout</a>
  <% } %>
</header>
