<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Folder</title>
  </head>
  <body>
    <% if (locals.shareId) { %>
    <form action="/drive/folders/share/<%= shareId %>" method="post">
      <input type="number" name="expireAt" placeholder="Number of days" />
      <button>Share</button>
    </form>
    <% } %>
  </body>
</html>
