<form
  action="/drive/files/upload/<%= currentDirId %>"
  enctype="multipart/form-data"
  method="post"
>
  <div class="upload-form form-data">
    <input type="file" class="form-control-file" name="file" />
    <button class="btn">Upload</button>
  </div>
</form>
